<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
{{> _metadata }}
{{> _styles }}
</head>
<body class="{{ bodyclass }}">
  {{> body }}
 <div class="reveal {{#if staticRevealConfig.parallaxBackgroundImage}}has-parallax-background{{/if}}">
       <div class="slides">
       {{#iterate this.slides}}
          {{> _slide}}
          <div class="page-break"></div>
        {{/iterate}}
    </div>
  </div>
  {{> _scripts}}
<script>
  Reveal.initialize({
    {{#eachProperty reveal}}{{#xif "this && this.key !== 'transition' && this.key !== 'multiplex'"}} {{this.key}}: {{#xif "this.value == false || this.value == true"}} {{#is this.value false}} false {{else}}{{this.value}}{{/is}} {{else}} {{#compare this.value "typeof" 'string'}} '{{this.value}}' {{else}} {{this.value}} {{/compare}}{{/xif}},{{/xif}}
    {{/eachProperty}}
    theme: Reveal.getQueryHash().theme,
    transition: Reveal.getQueryHash().transition ||  {{#if reveal.transition}} '{{reveal.transition}}' {{else}} 'default' {{/if}}, // default/cube/page/concave/zoom/linear/fade/none
    dependencies: [
      {src: '{{vendor}}/reveal.js/lib/classList.js', condition: function() { return !document.body.classList; }},
      {src: '{{vendor}}/reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; }},
      { src: '{{vendor}}/reveal.js/plugin/highlight/highlight.js', async: true },
      {src: '{{vendor}}/reveal.js/plugin/math/math.js', async: true},
      {{#if reveal.remote}}{{# if presentatorPage }}// Remote control your reveal.js presentation using a touch device
      { src: '{{vendor}}/reveal.js/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; }},{{/if}}{{/if}}
      {{#if reveal.multiplex}}
      { src: '/socket.io/socket.io.js', async: true },{{# if presentatorPage }}
      { src: '/js/multiplex/master.js', async: true },{{else}}
      { src: '/js/multiplex/client.js', async: true },{{/if}}{{/if}}
      {{#if presentatorPage}}
      { src: '{{vendor}}/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; }}{{/if}}
    ]{{#if reveal.multiplex}},
      multiplex: { {{#if presentatorPage}}
        secret: '{{reveal.multiplex.secret}}',{{else}}
        secret: null,{{/if}}
        id: '{{reveal.multiplex.socketId}}',
        url: '{{reveal.multiplex.url}}'
    }
    {{/if}}
  });
</script>
</body>
</html>
